body {
  background-color: #0a0c1b;
}

.container {
  margin: 15%;
  background-color: #1c1938;
  padding: 0;
  border-radius: 10px;
  max-width: 1080px;
  max-height: 446px;
  margin-left: auto;
  margin-right: auto;

  .col-auto {
    margin: 60px;
    padding: 0;
    h1 {
      color: white;
      font-weight: 700;
      width: 420px;
      padding: 5px 5px 15px 5px;
    }
    span {
      color: #a65ad8;
    }

    p {
      @extend h1;
      font-weight: 400;
      color: #7d7a9b;
    }
  }
  .second {
    background-color: #7b14bb;
    max-height: 446px;
    img {
      opacity: 0.4;
      border-radius: 0px 10px 10px 0px;
    }
    margin: 0px;
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 50px 0px 0px 0px;
  }
  li {
    color: white;
    font-weight: 700;
    font-size: 25px;
    padding: 0px 80px 0px 0px;
    margin: 0px;
    &:last-of-type {
      padding-right: 0;
    }
    .span1 {
      font-family: "Cabin", sans-serif;
      color: #7d7a9b;
      font-weight: 600;
      font-size: 15px;
    }
  }
  br {
    display: block;
    margin: 0px 0;
  }
}
